.company {
  display: flex;
  position: relative;

  &__backButton {
    position: absolute;
    top: 6px;
    left: -76px;
  }

  &__main {
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      &__title {
        font-size: 28px;
        font-weight: 500;
      }

      &__actions {
        display: flex;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
