.rows {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.column__first {
    width: 172px;
}

.column__second {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.agreement__input {
    width: 180.5px;
}

.agreement__container {
    display: flex;
    align-items: center;

    .agreement__date {
        display: flex;
        align-items: center;

        .agreement__dateLabel {
            width: 60px;
            text-align: center;
        }
    }
}