@font-face {
  font-family: 'icons';
  src:  url('./assets/fonts/icons.eot?artfx2');
  src:  url('./assets/fonts/icons.eot?artfx2#iefix') format('embedded-opentype'),
    url('./assets/fonts/icons.ttf?artfx2') format('truetype'),
    url('./assets/fonts/icons.woff?artfx2') format('woff'),
    url('./assets/fonts/icons.svg?artfx2#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-account:before {
  content: "\e902";
}
._icon-addPhoto:before {
  content: "\e903";
}
._icon-check:before {
  content: "\e904";
}
._icon-chevron:before {
  content: "\e905";
}
._icon-company:before {
  content: "\e906";
}
._icon-contractor:before {
  content: "\e907";
}
._icon-edit:before {
  content: "\e908";
}
._icon-inventory:before {
  content: "\e909";
}
._icon-settings:before {
  content: "\e90a";
}
._icon-share:before {
  content: "\e90b";
}
._icon-signOut:before {
  content: "\e90c";
}
._icon-trash:before {
  content: "\e90d";
}
._icon-x:before {
  content: "\e90e";
}
._icon-social:before {
  content: "\e901";
}
._icon-search:before {
  content: "\e900";
}
